.o-wrapper {
  max-width: $wrapper-width;
  margin-left: auto;
  margin-right: auto;
}

.o-wrapper--padding {
  max-width: $wrapper-width + ($spacing-unit * 2); 
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
}
